*.pyc
*.jpg
*.png
*.zip
*.rar
*.tar
*.json
*.csv
*.DS_Store

# for personal testing, all personal files shouldn't be pushed
*personal*

# for weights
*.pth
inference.*
*.ipynb

data/public_train/
.vscode/