*.pyc
*.jpg
*.png
*.zip
*.rar
*.tar
data/*.txt
*.DS_Store

# for personal testing, all personal files shouldn't be pushed
*personal*

# for weights
*.pth
inference.*
*.pt

data/public_train/
data/public_test/
.vscode/