*.pyc
*.jpg
*.png
*.zip
*.rar
*.tar
*.DS_Store

# for personal testing, all personal files shouldn't be pushed
*personal*

# for weights
*.pth
inference.pd*
*.pt

*_old*

/data/
weights/
data/public_train/
data/public_test/
.vscode/